<div>
  <header class="w3-container w3-red w3-center" style="padding:16px">
   <div class="container">
    <div class="row">
      <div class="col-8">
        <img src="assets/a3.png" width="30%" height="30%">
  
        <h1>Values of donation</h1>
        <h5 class="w3-padding-32 just">Blood is sometimes collected using similar methods for therapeutic phlebotomy, similar to the ancient practice of bloodletting, which is used to treat conditions such as hereditary hemochromatosis or polycythemia vera. This blood is sometimes treated as a blood donation, but may be immediately discarded if it cannot be used for transfusion or further manufacturing.</h5>
  
        <p class="w3-padding-32 just">Today in the developed world, most blood donors are unpaid volunteers who donate blood for a community supply. In some countries, established supplies are limited and donors usually give blood when family or friends need a transfusion (directed donation). Many donors donate as an act of charity, but in countries that allow paid donation some donors are paid, and in some cases there are incentives other than money such as paid time off from work. Donors can also have blood drawn for their own future use (autologous donation). Donating is relatively safe, but some donors have bruising where the needle is inserted or may feel faint. </p>
  
      </div>
      <div class="col-4">
          <h2>Login<br> <small>It's free and always will be.</small></h2>
        <div class="row">
            <div class="col-xs-12 col-sm-12 ">
                <div class="form-group">
                    <input type="text" name="unm" class="form-control input-lg" placeholder="Username" ngModel>
                    <span id="nm"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 ">
                <div class="form-group">
                    <input type="text" name="psw" class="form-control input-lg" placeholder="Password" ngModel>
                    <span id="nm"></span>
                </div>
            </div>
                <div class="col-xs-12 col-md-4"><button type="submit"  [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn btn-primary btn-block btn-lg" >Login</button></div>
                <div class="col-xs-12 col-md-4"><button type="submit"  [routerLink]="['/welcome']" routerLinkActive="router-link-active" class="btn btn-success btn-block btn-lg">Cancel</button></div>
        </div>
  
  
      </div>
    </div>
  
  
  </div>
  </header>
  </div>
  
