<div class="row myset">
    <div  class="col-sm-2">
      <p style="color:#a01d14;">Blood Group:</p>
    </div>
    <div  class="col-sm-4">
      <div class="form-group">
        <select name="bloodgroup" required class="custom-select" style="border-radius:15px;">
            <option selected>Select your Blood Group</option>
            <option *ngFor="let bg of bloodGroups">{{ bg }}</option>
          </select>
      </div>
    </div>
    <div class="col-sm-1">
        <p style="color:#a01d14;">Area:</p>
    </div>
    <div  class="col-sm-4">
        <div class="form-group">
      <select name="bloodgroup" required class="custom-select" style="border-radius:15px;">
          <option selected>Select your Area</option>
          <option *ngFor="let ar of Area">{{ ar }}</option>
        </select>
    </div>
    </div>
</div>
<div class="row">
  <div class="container" style="max-width:960px;">
    <table class="table table-striped table-hover" style="color:#a01d14;">
        <thead style="background: #a01d14;color:aliceblue;">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone No.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ur of Users">
            <td>{{ur.name}}</td>
            <td>{{ur.last_name}}</td>
            <td>{{ur.eid}}</td>
            <td>{{ur.phn}}</td>
          </tr>
          <!--<tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>-->
        </tbody>
      </table>
  </div>
</div>
